{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container cart-items-page">
        <div class="row">
                <div class="col">
                        
                        <h2>Cart Items</h2>
                        <hr>
                </div>
        </div>
        <div class="row">
                <div class="col">
                        {% if cart_items %}
                        <div class="table-responsive rounded"></div>
                        {% else %}
                        <p class="lead mb-5">Your cart is empty.</p>
                        <a href="{% url 'products' %}" class="btn cart-back">
                                <span class="icon">
                                        <i class="fas fa-headphones"></i>
                                </span>
                                <span>Book a room</span>
                                <span class="icon">
                                        <i class="fas fa-headphones"></i>
                                </span>
                        </a>
                        {% endif %}
                </div>
        </div>
</div>


{% endblock %}