header {
    background-color: #353333;
}

.nav-link {
    color: #cfcbcb;
    font-family: 'Russo One', sans-serif;
}

.nav-link:hover {
    color: #ce1616;
}

body {
    background: url('/media/home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 300px);
}

.footer-content {
    background-color: #353333;
    padding-top: 15px;
}

.sm-link, .copyright-content {
    color: #cfcbcb;
}

.sm-link:hover {
    color: #ce1616;
}

/* Products */

.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-page {
    margin-top: 200px;
}

.image-holder {
    height: 50vh;
    width: auto;
}