{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid product-page">
    <div class="row">
        
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="image-container">
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" class="card-img-top image-holder" alt="{{ product.name }}">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="product-details">
                <p>{{ product.name }}</p>
                <p>{{ product.price }}</p>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}