{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid product-page">
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center card-shade">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" class="card-img-top image-holder" alt="{{ product.name }}">
                    </a>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">€{{ product.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}